<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hig365.humaninvestgroup.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>HIG 365 web ured</name>
    <description>HUMAN Invest group web ured</description>
    <author email="info.humaninvestgroup@gmail.com" href="https://hig365.humaninvestgroup.com/members/login/">HIG365 Webmaster</author>

    <preference name="phonegap-version" value="3.3.0" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />

	<icon src="HUMAN-225x225-1.png" />
	
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="57" height="57" />
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="114" height="114" />    
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="72" height="72" />
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="144" height="144" />

    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="android" gap:density="ldpi" />
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="android" gap:density="mdpi" />
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="android" gap:density="hdpi" />
    <icon src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="android" gap:density="xhdpi" />
	
    <gap:splash src="HUMAN-225x225-1.png" />
    
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="680" height="960" />
    <gap:splash src="wp-content/uploads/2020/03/HUMAN-225x225-1.png" gap:platform="ios" width="640" height="1136" />

    <content src="https://humaninvestgroup.com/" />
    <access origin="*" subdomains="true" />
</widget>
